body {
    background-color: ivory;
    
    /* no scroll on x and y axis */
    overflow: hidden;

    /* fix margin */
    margin: 0 auto;
}

#file-directory-bg {
    width: 320px;
    max-height: 90vh;
    background-color: #2c2b2b;
    position: fixed;
}

#file-directory-tree {
    border: 1px solid black; 

    width: 320px;
    height: 90vh;

    overflow-y: scroll;

    /* ux purposes */
    -webkit-user-select: none;
    user-select: none;
}

/*
.parent-of-root-folder {
    color: white;
}
*/

.parent-folder-name {
    color: white;
}
.parent-folder-name:hover {
    cursor: pointer
}

.parent-of-root-folder:hover {
    cursor: pointer;
}

.child-file-of-parent-root {
    color: grey;
}
.child-file-of-parent-root:hover {
    cursor: pointer;
}

/*
.child-of-parent-folder {
    color: grey;
}
.child-of-parent-folder:hover {
    cursor: pointer;
}
*/

.child-folder-of-parent-root {
    color: white;
}
.child-folder-of-parent-root:hover {
    cursor: pointer;
}

.child-of-root-folder {
    color: grey;
}
.child-of-root-folder:hover {
    cursor: pointer;
}